


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <script type="text/javascript" language="javascript">
        function burstCache() {
            if (!navigator.onLine) {
                window.location = '~/NoAcess.aspx';
            }
        }
        burstCache();
    </script>
    <script type="text/javascript" src="../../JS/MultilineTextBox.js"></script>
    <noscript>
        <font color='Red' size="6">Please enable JavaScript to proper work on this page.
        </font>
        <br />
    </noscript>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><meta http-equiv="X-UA-Compatible" content="IE=6, chrome, IE7" /><meta http-equiv="Cache-control" content="no-cache" /><title>
	Print MarkSheet
</title></head>
<body style="margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0;">
    <form method="post" action="./MarkSheet_GS_Btech.aspx" id="form1" enctype="multipart/form-data" autocomplete="off">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJNDI2Njk5NTcyD2QWAgIDD2QWGAIFDw8WAh4EVGV4dAUZRVhBTUlOQVRJT04gTk9WRU1CRVItMjAyMWRkAgcPDxYCHwAFDDA5MDFDUzE5MTA1MmRkAgkPDxYCHwAFJ0IuVGVjaCwgQ09NUFVURVIgU0NJRU5DRSAmICBFTkdJTkVFUklOR2RkAgsPDxYCHwAFKEtVTkFMIFJPSElUQVMsIFMvRC9XL08gVkVFUkVORFJBIFJPSElUQVNkZAINDw8WAh8ABQFWZGQCDw8PFgIfAAUoTUFESEFWIElOU1RJVFVURSBPRiBURUNITk9MT0dZICYgU0NJRU5DRWRkAhEPDxYCHwAFB1JlZ3VsYXJkZAITD2QWDAIBDxYCHgtfIUl0ZW1Db3VudAILFhYCAQ9kFgJmDxUBBjEwMDAwNWQCAg9kFgJmDxUBBjE1MDUwMWQCAw9kFgJmDxUBBjE1MDUwMmQCBA9kFgJmDxUBBjE1MDUwM2QCBQ9kFgJmDxUBBjE1MDUwNGQCBg9kFgJmDxUBBjE1MDUwMmQCBw9kFgJmDxUBBjE1MDUwM2QCCA9kFgJmDxUBBjE1MDUwNGQCCQ9kFgJmDxUBBjE1MDUwNWQCCg9kFgJmDxUBBjE1MDUwNmQCCw9kFgJmDxUBBjE1MDUwN2QCAw8PZA8QFgRmAgECAgIDFgQWAh4OUGFyYW1ldGVyVmFsdWUFAjI0FgIfAgMFFgIfAgUMMDkwMUNTMTkxMDUyFgIfAgUGMTEyMDIxFgQCBQIFAgUCBWRkAgUPFgIfAQILFhYCAQ9kFgJmDxUBM0V0aGljcywgRWNvbm9taWNzIEVudHJlcHJlbmV1cnNoaXAgJiBNYW5hZ2VtZW50IFtUXWQCAg9kFgJmDxUBF0Rpc2NyZXRlIFN0cnVjdHVyZXMgW1RdZAIDD2QWAmYPFQEYU29mdHdhcmUgRW5naW5lZXJpbmcgW1RdZAIED2QWAmYPFQEZVGhlb3J5IG9mIENvbXB1dGF0aW9uIFtUXWQCBQ9kFgJmDxUBIE1pY3JvcHJvY2Vzc29yICYgSW50ZXJmYWNpbmcgW1RdZAIGD2QWAmYPFQEYU29mdHdhcmUgRW5naW5lZXJpbmcgW1BdZAIHD2QWAmYPFQEZVGhlb3J5IG9mIENvbXB1dGF0aW9uIFtQXWQCCA9kFgJmDxUBIE1pY3JvcHJvY2Vzc29yICYgSW50ZXJmYWNpbmcgW1BdZAIJD2QWAmYPFQEVTWlub3IgUHJvamVjdCAtIEkgW1BdZAIKD2QWAmYPFQEiU3VtbWVyIEludGVybnNoaXAgUHJvamVjdCAtIElJIFtQXWQCCw9kFgJmDxUBMlNlbGYtbGVhcm5pbmcvUHJlc2VudGF0aW9uIChTV0FZQU0vTlBURUwvTU9PQykgW1BdZAIHDw9kDxAWBGYCAQICAgMWBBYCHwIFAjI0FgIfAgMFFgIfAgUMMDkwMUNTMTkxMDUyFgIfAgUGMTEyMDIxFgQCBQIFAgUCBWRkAgkPFgIfAQILFhYCAQ9kFgYCAQ8PFgIfAAUBM2RkAgMPDxYCHwAFATNkZAIFDw8WAh8ABQFBZGQCAg9kFgYCAQ8PFgIfAAUBNGRkAgMPDxYCHwAFATRkZAIFDw8WAh8ABQFBZGQCAw9kFgYCAQ8PFgIfAAUBM2RkAgMPDxYCHwAFATNkZAIFDw8WAh8ABQFBZGQCBA9kFgYCAQ8PFgIfAAUBM2RkAgMPDxYCHwAFATNkZAIFDw8WAh8ABQFBZGQCBQ9kFgYCAQ8PFgIfAAUBM2RkAgMPDxYCHwAFATNkZAIFDw8WAh8ABQFBZGQCBg9kFgYCAQ8PFgIfAAUBMWRkAgMPDxYCHwAFATFkZAIFDw8WAh8ABQFBZGQCBw9kFgYCAQ8PFgIfAAUBMWRkAgMPDxYCHwAFATFkZAIFDw8WAh8ABQFCZGQCCA9kFgYCAQ8PFgIfAAUBMWRkAgMPDxYCHwAFATFkZAIFDw8WAh8ABQFBZGQCCQ9kFgYCAQ8PFgIfAAUBMWRkAgMPDxYCHwAFATFkZAIFDw8WAh8ABQJCK2RkAgoPZBYGAgEPDxYCHwAFATNkZAIDDw8WAh8ABQEzZGQCBQ8PFgIfAAUBQmRkAgsPZBYGAgEPDxYCHwAFATFkZAIDDw8WAh8ABQExZGQCBQ8PFgIfAAUBQWRkAgsPD2QPEBYEZgIBAgICAxYEFgIfAgUCMjQWAh8CAwUWAh8CBQwwOTAxQ1MxOTEwNTIWAh8CBQYxMTIwMjEWBAIFAgUCBQIFZGQCFQ8PFgIfAAUmICBTSVggSFVORFJFRCBGSUZUWSBUV08gIC4uLk9VVCBPRiA3NTBkZAIXDw8WAh8ABQQ4LjYzZGQCGQ8PFgIfAAUHNjUyLzc1MGRkAhsPDxYCHwAFBFBBU1NkZGS0nGBmOo26U0gOplgZzX2s5SinENEwRmz2oYI/1xOSzA==" />
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="2123996A" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAIxVK6tBEo6tP1jxdUW3vuxFGaDO1atUVl8aPyhZizDsUO940xW5NHpn7ixRrcygdRItQ7WuDbHNK54Qozn6cJk" />
</div>
    <input name="csrfval" type="hidden" id="csrfval" />
    <table border="1" cellpadding="0" cellspacing="0" style="width: 100%; border: thin solid #CCC;
        font-family: Verdana; font-size: 7pt;">
        <tr>
            <td style="width: 100%" align="center">
                <table border="0" style="width: 100%; border: thin solid #CCC;">
                    <tr>
                        <td style="width: 10%">
                            <img id="Image1" src="../../Images/logo.png" style="width:70px;" />
                        </td>
                        <td style="width: 90%; vertical-align: middle;">
                            <span style="font-size: 16pt; color: #FF8400; font-family: Verdana" class="heading">
                                MADHAV INSTITUTE OF TECHNOLOGY & SCIENCE, GWALIOR</span>&nbsp;<br />
                            <p>
                             
                                <br />
                                <span style="background-color: GrayText; height: 100;"><span style="font-size: 8pt;
                                    font-family: Verdana">
                                    <img alt="" src="../../images/statement.jpg" /></span><br />
                                </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="font-size: 7pt">
            <td style="width: 100%">
                <div style="text-align: left">
                    <table border="0" cellpadding="4" cellspacing="4" style="width: 100%">
                        <tr>
                            <td align="center" colspan="6" style="width: 100%">
                                <span id="lblExamSession" class="ResultHeading">EXAMINATION NOVEMBER-2021</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10%" class="ResultHeading">
                                ROLL NO.
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="width: 60%">
                                <span id="lblRollNo">0901CS191052</span>
                            </td>
                            <td colspan="3">
                                <span id="lblBranch">B.Tech, COMPUTER SCIENCE &  ENGINEERING</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10%" class="ResultHeading">
                                NAME
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="width: 60%">
                                <span id="lblCandidateName"><%= data.name.firstName + ' ' + data.name.lastName %> </span>
                            </td>
                            <td style="width: 10%" class="ResultHeading">
                                SEMESTER
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="width: 28%">
                                <span id="lblSemester"><%= sem %> </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10%" class="ResultHeading">
                                INSTITUTE
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="width: 60%">
                                <span id="lblInstt">MADHAV INSTITUTE OF TECHNOLOGY & SCIENCE</span>
                            </td>
                            <td style="width: 10%" class="ResultHeading">
                                STATUS
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="width: 28%">
                                <span id="lblStatus">Regular</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr style="font-size: 7pt">
            <td style="width: 100%" align="center">
                <div id="Panel1" style="width:100%;">
	
                    <table border="1" cellpadding="1" cellspacing="1" style="font-size: 9pt; width: 100%;
                        font-family: Verdana; border: thin solid #CCC;">
                        <tr>
                            <td rowspan="2" style="width: 3%; text-align: center" class="ResultHeading">
                                <span style="color: crimson; width: 3%; text-align: center;">CODE</span>
                            </td>
                            <td rowspan="2" style="width: 41%; text-align: center" class="ResultHeading">
                                <span style="color: crimson">SUBJECTS</span>
                            </td>
                            <td colspan="1" style="text-align: center" class="ResultHeading">
                                <span style="color: crimson">&nbsp;GRADING SYSTEM</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 14%; text-align: center" class="ResultHeading">
                                <span style="color: indianred"></span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width: 15%; text-align: center" valign="top">
                                
                                        <table style="font-size: 7pt" width="100%">
                                            <tr>
                                                <td>
                                                    &nbsp; &nbsp;&nbsp;<br />
                                                    <br />
                                                </td>
                                            </tr>
                                    
                                        <tr>
                                            <td>
                                                100005
                                            </td>
                                        </tr>
                                    
                                        </table>
                                    
                                
                            </td>
                            <td rowspan="2" style="width: 48%; text-align: left" valign="top">
                                <table style="font-size: 7pt" width="100%">
                                    <tr>
                                        <td>
                                            &nbsp; &nbsp;&nbsp;<br />
                                            <br />
                                        </td>
                                    </tr> 
                                    <% data.subjects[0].forEach(element => { %>
                                        <tr>
                                            <td>
                                                <%= element.subjectName %> 
                                            </td>
                                        </tr>
                                    <% }) %>
                                </table>  
                            </td>
                            <td rowspan="2" style="width: 37%; text-align: center" valign="top">
                                &nbsp;
                                        <table style="font-size: 7pt" width="100%">
                                            <tr>
                                                <td>
                                                    <span style="color: Maroon">TOTAL SCORE</span>
                                                </td>

                                            </tr>
                                            <% data.subjects[0].forEach(element => { %>
                                                <tr>
                                                    <td>
                                                        <span id="rptMaxMarksTheory_lblTHMAX_0"><%= element.marks %> </span>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </table>
                                    
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                
</div>
            </td>
        </tr>
        <tr style="font-size: 7pt">
            <td style="width: 100%">
            </td>
        </tr>
        <tr style="font-size: 7pt">
            <td style="width: 100%">
                <table style="width: 100%; border: thin solid #CCC" border="0" cellpadding="4" cellspacing="4">
                    <tr>
                        <td style="width: 10%">
                        </td>
                        <td style="width: 75%">
                            
                        </td>
                        <td style="width: 5%">
                            <span class="ResultHeading" style="color: orangered">SGPA :</span>
                        </td>
                        <td style="width: 10%" align="left">
                            <span id="lblGndtotal" class="ResultHeading">8.63</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%">
                        </td>
                        <td style="width: 75%" class="ResultHeading">
                            
                        </td>
                        <td style="width: 5%">
                        </td>
                        <td style="width: 10%">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="font-size: 7pt">
            <td style="width: 100%">
                <table style="width: 100%" border="0" cellpadding="4" cellspacing="4">
                    <tr>
                        <td style="width: 10%">
                            RESULT
                        </td>
                        <td style="width: 1%">
                            :
                        </td>
                        <td style="width: 20%">
                            <span id="lblResult" style="color:Crimson;">PASS</span>
                        </td>
                        <td style="width: 10%">
                            DIVISION
                        </td>
                        <td style="width: 1%">
                            :
                        </td>
                        <td style="width: 20%">
                            <span id="lbldivision"></span>
                        </td>
                        <td style="width: 19%">
                        </td>
                        <td style="width: 19%">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span style="font-size: 8pt"><span style="color: #ff3366"><strong>Note :</strong></span>
                                It is computer generated output</span>
                        </td>
                        <td style="width: 10%">
                        </td>
                        <td style="width: 1%">
                        </td>
                        <td style="width: 20%">
                        </td>
                        <td style="width: 19%">
                        </td>
                        <td style="width: 19%">
                            "<span style="color: red">##</span>" : Pass With Grace
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
